<style>
.jumbotron {
  background-image: url("https://ja.wikipedia.org/wiki/%E3%82%B8%E3%83%A3%E3%83%B3%E3%83%9C%E3%83%88%E3%83%AD%E3%83%B3#/media/%E3%83%95%E3%82%A1%E3%82%A4%E3%83%AB:Expo85_sony.jpg");
  background-size: cover;
  background-position: center 60%;
}
</style>